.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow-icon {
  width: 20px;
}

.suggestion {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 6px;
  font-weight: 400;
}
